<form action="/answer" data-turbo="false" class="m-5">
  <label for="answer_input" class="form-label">Ask your coach anything:</label>
  <div class="d-flex">
    <input type="text" name="answer_input" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
