<div class="group">
  <div class="m-5">
    <p class="fw-bold answer"><%= @response %></p>
    <p class="fst-italic">-Your coach</p>
  </div>

  <div class="m-5">
    <p class="fw-normal"><%= @ans %></p>
    <p class="fst-italic">-You</p>
  </div>

  <%= link_to "Ask a new question", ask_path %>
</div>
